REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

BULL_PREFIX=adm:bull
NODE_ENV=development

# SMTP
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=youruser
SMTP_PASS=yourpass

WORKER_CONCURRENCY_EMAIL=5
WORKER_CONCURRENCY_ORDER=3
WORKER_CONCURRENCY_IMAGE=2
